$primaryColor: black;

.header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    transition: padding 0.2s ease;
    opacity: 0.9;
    background-color: $primaryColor;

    .navigation {
      display: flex;
      flex-direction: row;
      margin-right: 2em;
    }
}

.header:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.header-nav-opts {
    padding: 2em;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .rotating {
    animation: rotating 8s linear infinite;
  }

@media(max-width: 900px) {
    .header {
        flex-direction: column;
        height: fit-content;
    }
    .header-navigation {
        flex-direction: column;
    }
    .header-brand {
        display: none;
    }
}

